services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - PUBLIC_BASE_URL=http://localhost:3000
      - SES_SMTP_USER=${SES_SMTP_USER:-}
      - SES_SMTP_PASSWORD=${SES_SMTP_PASSWORD:-}
      - LIST_WEBHOOK_SECRET=${LIST_WEBHOOK_SECRET:-}
    ports:
      - "3000:3000"
    volumes:
      - {{ repo_name }}-data:/data

volumes:
  {{ repo_name }}-data:
