# Gerüst: SealedSecrets gelten nur für einen Namespace und Cluster, Werte per kubeseal (deploy/README.md).
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: {{ repo_name }}-mail
  namespace: {{ repo_name }}
spec:
  encryptedData:
    LIST_WEBHOOK_SECRET: PLATZHALTER-MIT-KUBESEAL-ERSETZEN
    SES_SMTP_PASSWORD: PLATZHALTER-MIT-KUBESEAL-ERSETZEN
    SES_SMTP_USER: PLATZHALTER-MIT-KUBESEAL-ERSETZEN
  template:
    metadata:
      creationTimestamp: null
      name: {{ repo_name }}-mail
      namespace: {{ repo_name }}
