---
title: Klassenkasse
---

# Klassenkasse

Die Klassenkasse wird derzeit von _noch einzutragen_ geführt.

Kontoinhaber:

```
noch einzutragen
```

IBAN:

```
noch einzutragen
```

Betreff (bitte Namen des Kindes(!) einsetzen):

```
Beitrag Klassenkasse {{ class_display_name }} {VORNAME NACHNAME KIND}
```

:::note[Noch auszufüllen]

Diese Seite kommt so aus der Vorlage. Trag die Bankverbindung ein und lösche
diesen Hinweis.

:::
