import { CLASS_NAME, SITE_URL } from '../../site.config.js'
import { instanceName } from '../db/instance.js'

export const DEFAULT_MAIL_FROM = '{{ mail_from }}'

export const DEFAULT_LIST_BASE_DOMAIN = '{{ list_base_domain }}'

export const mailFrom = (): string => process.env.MAIL_FROM ?? DEFAULT_MAIL_FROM

export const mailFromName = (): string =>
	process.env.MAIL_FROM_NAME ?? CLASS_NAME

export const mailReplyTo = (): string => process.env.MAIL_REPLY_TO ?? mailFrom()

export const listDomain = (): string =>
	process.env.LIST_DOMAIN ?? `${instanceName()}.${DEFAULT_LIST_BASE_DOMAIN}`

export const listEnvelopeFrom = (): string =>
	process.env.LIST_ENVELOPE_FROM ?? mailFrom()

export const siteUrl = (): string => process.env.PUBLIC_BASE_URL ?? SITE_URL

export const className = (): string => CLASS_NAME
